.header {
    height: 7.2rem;
    // border-bottom: 1px solid $color-border-01;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .3s linear;
    z-index: 50;
    @include max($res-mobile) {
        height: var(--size-hd-mb);
    }
    &.sticky {
        height: var(--size-hd);
        background-color: white;
        @include max($res-mobile) {
            height: var(--size-hd-mb-sticky);
        }
    }
    .custom-logo-link {
        padding: 1.2rem 0;
        display: block;
        @include transitionRe;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .navbar {
        position: relative;
        height: inherit;
        justify-content: space-between;
        #logo {
            @include max(400px) {
                width: 35%;
            }
        }
        @include max(991px) {
            align-items: center;
        }
        @include max(560px) {
            column-gap: 1rem;
        }
        .menu_primary {
            padding: 2.3rem 0 1.8rem;
            flex: 1;
            .list_menu {
                display: flex;
                justify-content: space-around;
                .menu_item {
                    padding: .5rem 0;
                    position: relative;
                    transition: all .4s;
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 1px;
                        left: 0;
                        background: $color_orange_2;
                        transform: scaleX(0);
                        transition: all .3s;
                    }
                    &:hover {
                        font-weight: bold;
                        &::after {
                            transform: scaleX(1);
                        }
                    }
                    &.active {
                        font-weight: bold;
                        &::after {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
        .header_btn {
            display: flex;
            .btn_login {
                overflow: hidden;
                position: relative;
                border-radius: 0px 0px 0px 16px;
                background: linear-gradient(49deg, $color_orange_3 0%, $color_orange_1 100%);
                box-shadow: 2px 20px 60px 0px rgba(252, 219, 96, 0.10);
                color: $color_white;
                display: flex;
                width: 140px;
                height: 44px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;
                border: none;
                font-weight: $fw_3;
                font-family: 'Inter';
                z-index: 1;
                @include fz_16;
                @include max(560px) {
                    width: auto;
                    font-size: 1.2rem;
                    height: auto;
                    padding: 5px 1rem;
                    border-radius: 0px 0px 0px 5px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 0;
                    background: linear-gradient(49deg, #F9B840 0%, #F95B34 100%);
                    right: 0;
                    top: 0;
                    transition: all .5s ease-in-out;
                    z-index: -1;
                }
                &:hover {
                    &::after {
                        width: 100%;
                        left: 0;
                        right: unset;
                    }
                }
            }
            .btn_reg {
                overflow: hidden;
                font-family: 'Inter';
                @include fz_16;
                color: $color_white;
                display: flex;
                width: 130px;
                height: 44px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;
                border-radius: 0px 0px 16px 0px;
                background: var(--logo, $color_violet);
                box-shadow: 2px 20px 60px 0px rgba(252, 219, 96, 0.10);
                z-index: 1;
                position: relative;
                @include max(560px) {
                    width: auto;
                    font-size: 1.2rem;
                    height: auto;
                    padding: 5px 1rem;
                    border-radius: 0px 0px 5px 0px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 0;
                    background: linear-gradient(49deg, #F9B840 0%, #F95B34 100%);
                    right: 0;
                    top: 0;
                    transition: all .5s ease-in-out;
                    z-index: -1;
                }
                &:hover {
                    &::after {
                        width: 100%;
                        left: 0;
                        right: unset;
                    }
                }
            }
        }
    }
    &.transparent {
        background: rgb(135 1 202 / 72%);
        animation: moveDown .6s;
        height: 61px;
        backdrop-filter: blur(65px);
        .navbar {
            .menu_primary {
                padding: 0;
                .menu_item {
                    a {
                        color: $color_white;
                        @include max(991px) {
                            color: $color_dark;
                        }
                    }
                }
            }
            align-items: center;
        }
    }
    @include max(991px) {
        .menu_primary {
            visibility: hidden;
            max-height: 0;
            transition: max-height 0.2s ease-out;
            background: $color_white;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 65px;
            border: 1px solid $color_violet;
            padding: 20px!important;
            border-radius: 10px;
            flex-direction: column;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            .list_menu {
                opacity: 0;
                flex-direction: column;
                transition: all .3s;
            }
            &.active {
                opacity: 1;
                visibility: visible;
                .list_menu {
                    opacity: 1!important;
                }
            }
        }
        .toggle_mobile {
            padding: 10px;
            display: block;
            .toggle_line {
                transition: all .4s;
                width: 3rem;
                height: 2px;
                background: $color_orange;
                display: block;
                margin-bottom: .5rem;
                @include max(767px) {
                    width: 3rem;
                    margin-bottom: .5rem;
                }
            }
            &.active {
                .toggle_line {
                    &:nth-child(1) {
                        transform: rotate(45deg) translate(10px, -2px);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg) translate(7px, 5px);
                    }
                }
            }
        }
    }
}